<body>
  <h1>About this site</h1>
  <h2>This site is about my daily emtional life</h2>
  <p>What makes me react, feel alive, cry or laugh or think or create</p>
  <p>Nothing too fancy though, only text or image</p>

  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</body>
